<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <add name ="conn" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=homework6;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <appSettings>
    <add key="JDCategoryUrl" value="http://www.jd.com/allSort.aspx"/>
    <add key="taobaoUrl" value="https://www.taobao.com/tbhome/page/market-list"/>
  </appSettings>
</configuration>